/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-bottom: 40px;*/
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand-2 {
    float: left;
    height: 50px;
    padding: 15px 15px;
/*    font-size: 18px;
*/    line-height: 20px;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand-2:hover {
    color:gray;
    text-decoration: underline;
}

.navbar-brand-2 :active {
    color:white;
    text-decoration: underline;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  /*min-width: 100%;*/
  min-width: 100%;
  min-height:100%;
  object-fit: cover;
  /*height: 500px;*/
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.marketing {
  margin-bottom:50px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-color {
  padding-top:80px;
  padding-bottom:80px;
}

.pink {
  background-color: pink;
}

.light-gray {
  width:100%;
  background-color:#eee;
}

.sky-blue {
  width: 100%;
  background-color:#eee;
}

.white {
  width: 100%
}

.footer-color {
  width:100%;
  background-color:black;
  padding-top:40px;
  padding-bottom:100px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    position:fixed;
    /*margin-top: 0px;*/
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    /*border-radius: 4px;*/
  }

  .carousel {
    height:100vh;
  }

  .carousel .item {
    height:100vh;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 50px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 30px;
  }
}
